<section class="hero">
    <div class="wrapper hero__wrapper bottom-border">
        <div class="hero__content">
            <div class="hero__text">
                <h1 class="hero__headline header-xl">
                    Nice to<br />
                    meet you! I'm <span>Joaquin Gottlebe</span>.
                </h1>
                <p class="hero__description">
                    A developer, based in Berlin, passionate about building
                    things that i love.
                </p>
                <a href="#contact" class="hero__contact underline"
                    >Contact me</a
                >
            </div>
        </div>
    </div>
</section>
