<section id="skills" class="skills">
    <div class="wrapper projects__wrapper bottom-border"> 
		<div class="projects__grid">
			<h2 class="projects__headline header-xl">Quallifications</h2>
			<a href="#contact" class="projects__contact underline"></a>
			<div class="projects__item">
				<h3 class="projects__name">Bachelor Geographic Sciences</h3>
				<p class="skills__description"></p>
			</div>
			<div class="projects__item">
				<h3 class="projects__name">Master Computational Sciences </h3>
				<p class="skills__description"></p>
			</div>
		</div>
    </div>
</section>
